<%= turbo_frame_tag "modal" do %>
  <%= tag.div data: { controller: "turbo-modal" }, style: "padding: 30px;" do %>
    <div class="booking">
      <h1>Votre demande de réservation</h1>
        <%= simple_form_for [@room, @booking] do |f| %>
          <%= f.input :start_date, as: :date %>
          <%= f.input :end_date, as: :date %>
          <%= f.submit %>
        <%= button_tag "Close", data: { action: "turbo-modal#hideModal" }, type: "button", class: "back_btn" %>
        <% end %>
    </div>
  <% end %>
<% end %>
