<h1>Votre demande de réservation</h1>

<%= @bookings %>


<div class="booking">
  <%= simple_form_for [@room, @booking], html: { data: { controller: 'flatpickr', flatpickr_url_value: room_api_path(@room)} } do |f| %>
  <%= f.input :start_date, as: :string, input_html: { data: { flatpickr_target: "startTime" } } %>
  <%= f.input :end_date, as: :string, input_html: { data: { flatpickr_target: "endTime" }, id: 'end_time' } %>
    <%= f.submit %>
  <% end %>
</div>
