<h1>Votre demande de réservation</h1>

<%= @bookings %>


<div class="booking">
  <%= simple_form_for [@room, @booking] do |f| %>
    <%= f.input :start_date, as: :date %>
    <%= f.input :end_date, as: :date %>
    <%= f.submit %>
  <% end %>
</div>
