<div class="card" style="margin:8px">
  <div class="card-body">
    <h5 class="card-title"><%= book.room.name %></h5>
    <p class="card-text">Du <%= book.start_date %> au <%= book.end_date %></p>
  </div>
  <div class="card-footer">
    <small class="text-muted">
      <% if book.confirmed == 0 %>
        <div>
          <%= link_to "Accepter", confirm_booking_path(book.id), class: "btn btn-success"%>
          <%= link_to "Refuser", decline_booking_path(book.id), class: "btn btn-danger"%>
        </div>
      <% else %>
        Validé
      <% end %>
    </small>
  </div>
</div>
