<%= link_to room_path(room), remote:true do %>
<div style="background-color: #FAE1DF; margin: 8px; border-radius: 8px">
  <h2>Name : <%= room.name %></h2>
  <p>Size : <%= room.size %>m2</p>
  <p>Category : <%= room.category.name %></p>
  <p>Price : <%= room.price %></p>
  <img src="<%= room.image_url %>" alt="" style="width: 300px">
</div>
<% end %>
