<!-- voir a quoi sert le remote true-->

<%= link_to root_path, remote:true do %>
  <button type='button', class="btn btn-primary"> Back home</button>
<% end %>

<h1><%= @room.name %></h1>

<div style="background-color: #FAE1DF; margin: 8px; border-radius: 8px, d-flex flex-wrap">
  <h2>Name : <%= @room.name %></h2>
  <p>Size : <%= @room.size %>m2</p>
  <p>Category : <%= @room.category.name %></p>
  <p>Price : <%= @room.price %></p>
  <p>Description : <%= @room.description %></p>
  <!-- mettre un carroussel d'image dans le show des rooms / plusieurs images a charger depuis cloudinary-->
  <img class="card-img-top" src="<%= @room.photo.attached? ? cl_image_path(@room.photo.key, height: 300, width: 400, crop: :fill) : asset_path('cabinet-medical.webp')%>" alt="">
</div>
